# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
# Unity 
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/
[Bb]uild/
[Ll]ogs/
Packages/manifest.lock

# Archivos de Visual Studio y JetBrains
.vs/
*.csproj
*.sln
*.userprefs
.idea/

# Archivos temporales de Mac y Windows
.DS_Store
Thumbs.db
